@import 'core/variables';
@import 'core/functions';

@import 'layout/header';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $primaryFont;
	font-size: $primaryFontSize;
	font-weight: 400;
	color: $rockGrey;
}
