<header class="header">
    <div class="header__person">
        <h1 class="header__name-person">@@namePerson</h1>
        <h2 class="header__profile">@@profile</h2>
    </div>
    <ul class="header__data-person">
        <li class="data-person__item">@@phone</li>
        <li class="data-person__item"><a href="mailto:irene@irenegf.com" class="data__links">irene@irenegf.com</a></li>
        <li class="data-person__item"><a href="https://irenegf.com/" target="_blank" class="data__links">www.irenegf.com</a></li>
        <li class="data-person__item"><a href="https://www.linkedin.com/in/irenegf/" target="_blank" class="data__links">www.linkedin.com/in/irenegf</a></li>
        <li class="data-person__item"><a href="https://github.com/irene-gomez" target="_blank" class="data__links">www.github.com/irene-gomez</a></li>
    </ul>
</header>