<header class="header">
    <div class="header__person">
        <h1 class="header__name-person">@@namePerson</h1>
        <h2 class="header__profile">@@profile</h2>
    </div>
    <p class="header__data-person">
        @@phone | 
        <a href="mailto:irene@irenegf.com">irene@irenegf.com</a> | 
        <a href="https://irenegf.com/" target="_blank">www.irenegf.com</a> | 
        <a href="https://www.linkedin.com/in/irenegf/" target="_blank">https://www.linkedin.com/in/irenegf</a>
    </p>
</header>