.header {
    background-color: $rockGrey;
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    color: $whiteCloud;
    min-height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
}
.header__name-person {

}
.header__profile {

}
.header__data-person {

}