// Colors
$color-rockGrey: #57575A;
$color-whiteCloud: #fff;
$color-greenGrass: #7EA858;
// Fonts
$primaryFont: 'Raleway', sans-serif;
$primaryFontSize: 18px;
// Mediaqueries
$mediaTablet: 768px;
$mediaDesktop: 1200px;
